th, td {
	font-family: µ¸¿ò; 
	font-size: 12px; 
	line-height: 18px; 
  	padding-left: 10px;
  	padding-right: 10px;
}

.title {
	font-family: µ¸¿ò; 
	font-size: 12pt; 
	font-weight: bold;
	color: Black; 
	background-color: Beige;
	line-height: 22px;
}

/* Form css */
.text, .textarea, .password, .file, .select { 
	font-family: µ¸¿ò; 
	font-size: 8pt; 
	color: #333333;
}

table.commTable {
  background: MediumBlue;
}

td.commHead, th.commHead {
  height: 22px;
  text-align: center;
  background: PowderBlue; 
  font-weight: bold; 
}

td.commCell {
  text-align: left;
  background: White;  
  padding-left: 10px;
  padding-right: 10px;
}
