td {
	font-family: 돋움; 
	font-size: 12px; 
	color: #333333; 
	line-height: 18px;
}

.title {
	font-family: 돋움; 
	font-size: 12pt; 
	font-weight: bold;
	color: Black; 
	background-color: Beige;
	line-height: 22px;
}

/* Form css */
.text, .textarea, .password, .file, .select { 
	font-family: 돋움; 
	font-size: 8pt; 
	color: #333333;
}

table.userTable {
  background: rgb(0, 128, 0);
}

th.userHead {
  height: 22px;
  text-align: center;
  background: rgb(128, 255, 128); 
  font-weight: bold; 
}

td.userCell {
  text-align: left;
  background: White;  
  padding-left: 10px;
  padding-right: 10px;
}
